In [1]:
import pandas as pd

/var/folders/t1/8mb76jdj5yq__c510cnxz6000000gn/T/ipykernel_8135/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
import numpy as np

In [3]:
# Import necessary libraries
from sklearn import datasets  # to retrieve the iris Dataset  # to load the dataframe
from sklearn.preprocessing import StandardScaler  # to standardize the features
from sklearn.decomposition import PCA  # to apply PCA
import seaborn as sns  # to plot the heat maps
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
import xgboost as xgb

In [4]:
cast_df = pd.read_csv("/Users/drew/data science club project/embeddings/cast_embeddings_042424.csv", low_memory=False)
director_df = pd.read_csv("/Users/drew/data science club project/embeddings/director_embeddings_042424.csv", low_memory=False)
writer_df = pd.read_csv("/Users/drew/data science club project/embeddings/writer_embeddings_042424.csv", low_memory=False)
producer_df = pd.read_csv("/Users/drew/data science club project/embeddings/producer_embeddings_042424.csv", low_memory=False)
distributor_df = pd.read_csv("/Users/drew/data science club project/embeddings/distributor_embeddings_042424.csv", low_memory=False)
production_company_df = pd.read_csv("/Users/drew/data science club project/embeddings/production_company_embeddings_042424.csv", low_memory=False)
composer_df = pd.read_csv("/Users/drew/data science club project/embeddings/composer_embeddings_042424.csv", low_memory=False)
cinematographer_df = pd.read_csv("/Users/drew/data science club project/embeddings/cinematographer_embeddings_042424.csv", low_memory=False)
genre_df = pd.read_csv("/Users/drew/data science club project/embeddings/genre_embeddings_042624.csv", low_memory=False)
title_df = pd.read_csv("/Users/drew/data science club project/embeddings/title_embeddings_042624.csv", low_memory=False)
df1 = pd.read_csv("/Users/drew/data science club project/data/not-embedded.csv", low_memory=False)

In [5]:
df1 = pd.concat([cast_df,director_df,writer_df,producer_df,cinematographer_df,production_company_df,composer_df,distributor_df,genre_df,title_df,df1], axis=1)

In [6]:
roles = ['cast', 'director', 'writer', 'producer', 'cinematographer', 'production company', 'composer', 'distributor', 'genre','title','extra']

# Assume embeddings_df is initialized and has 3072 columns (384 columns per role for 8 roles)
# Compute the new column names
new_column_names = []
for i in range(len(df1.columns)):
    role_index = i // 384  # There are 384 columns per role
    role = roles[role_index]
    role_column_number = i % 384  # Each role gets 384 columns
    new_column_names.append(f'{role} column {role_column_number}')

# Assign the new column names to the DataFrame
df1.columns = new_column_names

In [7]:
df1.head()

,cast column 0,cast column 1,cast column 2,cast column 3,cast column 4,cast column 5,cast column 6,cast column 7,cast column 8,cast column 9,...,extra column 1,extra column 2,extra column 3,extra column 4,extra column 5,extra column 6,extra column 7,extra column 8,extra column 9,extra column 10
0,-0.046959,-0.052012,-0.072102,-0.052723,0.011098,0.069893,-0.015750,-0.022822,0.054897,-0.000534,...,152.0,242,7,1,2,10,1,4,45,2008
1,-0.067927,-0.111614,-0.006113,-0.049465,0.014184,0.045738,-0.000582,-0.000486,0.038518,-0.024674,...,148.0,87,1,1,1,10,1,3,32,2010
2,-0.012362,-0.098161,-0.012481,-0.052933,0.042809,0.064033,0.007707,-0.020584,0.028179,0.006811,...,169.0,45,2,1,1,20,1,8,28,2014
3,-0.034167,-0.088704,-0.037407,-0.059107,0.030172,0.090157,0.041473,-0.027583,0.040755,0.005676,...,178.0,154,5,1,1,12,1,4,52,2001
4,-0.019734,-0.086513,-0.032365,-0.028294,0.015224,0.105289,0.016421,-0.027106,0.057955,-0.018231,...,201.0,160,5,1,1,11,1,3,50,2003

In [8]:
scalar = StandardScaler()

In [ ]:
a=scalar.fit_transform(df1)

In [ ]:
data_scaled = pd.DataFrame(a)